<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace 命名空间，当前文档的一个标识符-->
<mapper namespace="com.oa.bean.PermissionMapper">

    <!--resultMap  结果集的映射-->
    <!--id  是当前resultMap的唯一标识-->
    <!--type  是结果集的类型-->
    <resultMap id="PermissionResultMap" type="com.oa.bean.Permission">
        <id property="permissionId" column="permission_id" javaType="java.lang.Integer"/>
        <result property="permissionName" column="permission_name" javaType="java.lang.String"/>

    </resultMap>


</mapper>